version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: task_manager
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    image: mohamed510/task-manager-backend:latest
    container_name: backend
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    image: mohamed510/task-manager-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://backend:8080/api
    ports:
      - "5173:80"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
